:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: var(--dark-cyan);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--very-dark-desaturated-blue);
    background-image: 
        url(images/bg-pattern-top.svg),
        url(images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: right 50vw bottom 40vh, top 50vh left 45vw;
}

.container {
    background-color: white;
    overflow: hidden;
    width: 60%;
    max-width: 27rem;
    min-width: 22rem;
    min-height: 27rem;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    position: relative;
    letter-spacing: 1px;
}

.container__top {

}

.img-top {
    width: 100%;
}

.age {
    font-weight: 400;
}

.container__middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4.3rem 0 1rem;
    line-height: 2.5rem;
}

.container__bottom {
    display: flex;
    border-top: 1px solid var(--dark-grayish-blue);
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 4rem;
}

.profile-picture {
    border: 5px solid white;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    position: absolute;
    top: 27%;
    left: 37%;
}

.nums {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8rem;
}

.age,
.city,
.label {
    color: var(--dark-grayish-blue);
}

footer {
    margin-top: 1rem;
    color: var(--very-dark-desaturated-blue);
}
